alembic==1.11.2
Authlib==1.2.0
fastapi==0.95.1
celery==5.4.0
redis==5.0.7
httpx==0.24.1
ipython==8.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
pytest==7.4.2
requests==2.31.0
SQLAlchemy==2.0.20
uvicorn==0.22.0
passlib==1.7.4
bcrypt==4.0.1
sqlalchemy-utils==0.41.1
python-multipart==0.0.6
pyjwt==2.7.0
pytz==2023.3
aiofiles==23.1.0
pillow==10.0.0
psycopg2==2.9.8
twilio==8.4.0
sqlakeyset==2.0.1716332987
firebase_admin==6.1.0
